body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url(../Imgs/Lakers.jpg); }

.marginNav {
  margin-top: 45px; }

.marginImg {
  margin-left: 100px;
  margin-top: 20px; }

.marginTitulo {
  margin-bottom: 50px;
  margin-top: 50px;
  text-decoration: underline; }

.imagenAnillo, .Kobe {
  margin-top: 100px;
  border-radius: 90px; }

.subrayado {
  text-decoration: underline; }

.MarginPrincipal {
  margin-top: 140px;
  margin-right: 100px; }

footer, header {
  width: 100%;
  margin: auto;
  margin-bottom: 0px;
  color: #381556;
  background: linear-gradient(90deg, #ffd700, #381556, #381556, #ffd700);
  background-position: relative;
  background-size: 400% 400%;
  animation: rotate 6s infinite ease-in-out;
  font-size: 30px; }

@keyframes rotate {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

.piePagina {
  width: 100%;
  color: white; }

.grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 60px 0px; }

.box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: left; }

.box figure img {
  width: 200px; }

.box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 32px; }

.redes {
  display: inline-block; }

@media screen and (max-width: 770px) {
  .grupo1 {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 40px 0px; } }

.Kobe {
  background-color: #381556;
  margin-bottom: 100px; }

.letra {
  font-size: 20px; }
